.Home
  Hero
  InterestForm(
    v-if='formType'
    :formType='formType'
    @close='formType = ""',
  )
  .kh-intro
    .container
      h2 The coworking experience
      .kh-intro__main
        .nobreak
          p Coworking fosters collaboration and the exchange of ideas between innovative people – and all of this happens everyday during our coffee break.
          p Coworking is on the pulse of workplace innovation. The business world is changing.The modern workforce is different; business needs are different; we are different.
        .nobreak
          p Coworking provides flexibility in a friendly, dynamic workspace without having to invest in infrastructure or binding rental contracts.
          p At Kleinhafen, we offer custom-made workspaces for a focused and productive work session: simply turn on your computer and start working.
  .plans.section
    .container
      .plan-list

        .plan.plan--flex
          .plan__image.coverimage
          h3
            | Flex desk
            small
              a(href='https://www.google.com/maps/place/Feldbergstrasse+39,+4057+Basel')
                | Feldbergstrasse 39
                img.pin(src='~@/assets/img/pin.svg')
          .plan__desc
            p Do you need a workspace for just two days a week? Are you in Basel for an assignment?
            p Drop by for a quick hour of coworking for less than the price of a coffee!
          .plan__book
            button.btn.btn--book(
              @click='setFormType("flexDesk")'
            ) Book a personal tour now
          .plan__prices
            .priceset
              .name Monthly
              .price 240.— CHF
            .priceset
              .name Hourly
              .price 5.50 CHF
            .priceset
              .name Daily
              .price 27.— CHF
          .plan__features
            ul
              li Central location
              li High-speed internet
              li Speciality coffee
              li Whole-leaf tea
              li Printer/scanner
              li Cleaning
              li No cancellation notice
              li No min. contract length
              li Kitchen/lounge/garden
              li Community events

        .plan.plan--fixed
          .plan__image.coverimage
          h3
            | Fixed desk
            small
              a(href='https://www.google.com/maps/place/Feldbergstrasse+47,+4057+Basel')
                | Feldbergstrasse 47
                img.pin(src='~@/assets/img/pin.svg')
          .plan__desc
            p Do you work full-time and need space for a big screen, a mailbox, and document storage?
            p Book your fixed coworking desk and join our community!
          .plan__book
            button.btn.btn--book(
              @click='setFormType("fixedDesk")'
            ) Book a personal tour now
          .plan__prices
            .priceset
              .name Monthly
              .price 450.— CHF
            .priceset.priceset--dummy
              .name &nbsp;
              .price &nbsp;
            .priceset.priceset--dummy
              .name &nbsp;
              .price &nbsp;
          .plan__features
            ul
              li Central location
              li High-speed internet
              li Speciality coffee
              li Whole-leaf tea
              li Printer/scanner
              li Cleaning
              li No cancellation notice
              li No min. contract length
              li Kitchen/lounge/garden
              li Community events
              li Flipcharts
              li Projector
              li Meeting room
              li Storage
              li Address
              li 24/7 access
              li Use of FB 39 and FB 47

  .meetingrooms.section
    .container
      h3 Meeting rooms
      .meetingrooms__image.coverimage
      .meetingrooms__desc
        p We have flexible meeting rooms designed to fit all your needs.
        p
          | Whether it's
          ul
            li leading brainstorming sessions in an enclosed meeting room
            li organizing team-building workshops in an open space
            li product launch events with the support of our kitchen
            li hosting an apéro
            li or having a silent one on one meeting,
          | we have you covered.
        button.btn.btn--book(
          @click='setFormType("meetingRoom")'
        ) Ask about our meeting rooms

  .storefront.section
    .container
      .storefront__group
        .storefront__imagewrapper
          .storefront__image.coverimage
        .storefront__desc
          h3 Storefront
          p We see our coworking space as a platform, therefore we showcase products and services in our storefront at Feldbergtrasse 39.
          p Do you have a web shop and need physical presence?
          p Do you want to position your product in Basel or you want to take part in the atmosphere of Feldbergstrasse? Speak to us about it!
          button.btn.btn--book(
            @click='setFormType("storefront")'
          ) Ask about our storefront

  .kh-about.section
    .container
      h2 About Kleinhafen
      .kh-about__blurb
        .kh-about__desc
          .kh-about__logo
            a(href='http://www.coworking.ch/')
              img(src='../assets/img/cowoch.png')
          p Kleinhafen opened in March 2016. We designed the space from scratch and built it up ourselves, and we are in love with our achievements. We are committed to developing our environment, and we have dedicated ourselves to our coworkers and their feedback.
        //-
          .kh-about__cta
            button.btn Read more about Kleinhafen
      //-
        IgFeed
