.IgFeed
  .ig-pics
    .ig-pic-container(
      v-for='image in images'
    )
      a.ig-pic(
        :href='image.permalink'
        :style='{backgroundImage: "url(" + image.media_url + ")"}'
        target='_blank'
      )
  .ig-cta
    a.btn.btn--outline-invert(href='https://instagram.com/kleinhafen') Follow us on Instagram
