@import './colors.styl'
@import './fonts.styl'
@import './footer.styl'

*
  box-sizing border-box

html, body
  margin 0
  padding 0
  border 0
  font-family 'Favorit', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 17px
  line-height 1.4

a
  color color-dark
  text-decoration none
  border-bottom 1px solid color-kh-accent

p
  margin-top 0
  margin-bottom 1rem
  &:last-child
    margin-bottom 0

h1, h2, h3, h4, h5, h6
  font-weight normal
  text-transform uppercase
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

.nobreak
  break-inside avoid

.container
  max-width 1100px
  margin 0 auto

.btn
  margin 0
  padding 0
  border 0
  box-shadow 0
  background none
  //
  padding 0.8rem 1rem
  background color-kh-accent
  cursor pointer
  font-size 0.8rem
  text-transform uppercase
  letter-spacing 1px
  &.btn--book
    display block
    width 100%
    padding 1.5rem
    font-size 1rem
  &.btn--outline-invert
    border 1px solid color-dark
    color color-dark
    background-color transparent

.App
  nav
    padding 1rem
    background color-kh-accent
    text-align center
    a
      color color-dark
      text-transform uppercase
      text-decoration none
      &.router-link-exact-active
        color color-light
