@font-face
  font-family 'Favorit'
  font-weight 400
  src url(../assets/fonts/Favorit_Regular.woff) format('woff')

@font-face
  font-family 'Favorit'
  font-weight 500
  src url(../assets/fonts/Favorit_Medium.woff) format('woff')
