@import './colors.styl'

.Home
  .kh-intro
    padding 6rem
    // background-color #f6f6f6
    background-color color-kh-accent
    color color-dark
    .kh-intro__main
      columns 2
  .plans
    h2
      font-size 1.7rem
      margin-bottom 2rem
    .plan-list
      display flex
      margin -2rem

  .bubble
    display inline-block
    margin-left 1rem
    padding 0.1rem 0.3rem
    font-size 0.8rem
    text-transform uppercase
    background-color color-kh-accent

  .plan
    flex 0 0 calc(50% - 4rem)
    margin 2rem
    .plan__image
      height 22rem
    h3
      margin 2rem 0
      font-size 1.5rem
      small
        display block
        font-size 1.0rem
        .pin
          height 1rem
          margin-left 0.5rem
          vertical-align -2px
    .plan__desc
      min-height 8rem
    .plan__prices
      margin 2rem 0
    .plan__book
      margin 2rem 0
    .plan__features
      margin 2rem 0
      margin-bottom 0
      columns 2
      min-height 16rem
      ul
        margin 0
        padding-left 1rem
        li
          margin-bottom 0.4rem
    .plan__gallery
      margin 2rem 0

  .plan.plan--flex
    .plan__image
      background-position center center
      background-image url('~@/assets/img/feldbergstr-39/DSC06122.jpg')
    .plan__subimage-1
      background-image url('~@/assets/img/feldbergstr-39-pre/IMG_0873.jpg')
    .plan__subimage-2
      background-image url('~@/assets/img/feldbergstr-39-pre/IMG_0348.jpg')

  .plan.plan--fixed
    .plan__image
      background-image url('~@/assets/img/plans/KH_20160720_Sommeraktion_011.jpg')
    .plan__subimage-1
      background-image url('~@/assets/img/feldbergstr-47-pre/feldbergstrasse-47-05.jpg')
    .plan__subimage-2
      background-image url('~@/assets/img/feldbergstr-47-pre/n-wide2x-16x9-fill.jpg')

  .priceset
    display flex
    margin-bottom 0.5rem
    &:last-child
      margin-bottom 0
    .name, .price
      flex 1
    .price
      text-align right

  .meetingrooms
    .meetingrooms__image
      height 22rem
      background-image url('~@/assets/img/meeting-rooms/DSCF2916-2.jpg')
      background-position center -300px
    .meetingrooms__desc
      margin-top 2rem
      padding-left 40%

  .storefront
    .storefront__group
      display flex
      align-items flex-end
      margin 0 -2rem
      .storefront__imagewrapper,
      .storefront__desc
        flex 0 0 calc(50% - 4rem)
        margin 0 2rem
    .storefront__imagewrapper
      padding-right 4rem
    .storefront__image
      height 30rem
      background-image url('~@/assets/img/meeting-rooms/DSC06118.jpg')
    .storefront__desc
      margin-top 2rem
      max-width 40rem

  .kh-about
    .kh-about__blurb
      padding 2rem
      background-color color-silver
      .kh-about__desc
        display flex
        .kh-about__logo
          flex 0 1
          padding-left 2rem
          a
            border none
          img
            height 5rem
      .kh-about__cta
        text-align left
      .btn
        margin-top 1rem
    .IgFeed
      margin-top 2rem
