.IgFeed
  .ig-pics
    display flex
    flex-wrap wrap
    margin -0.3rem
    .ig-pic-container
      flex 0 0 calc(25% - 0.6rem)
      width calc(25% - 0.6rem)
      margin 0.3rem
      .ig-pic
        padding-bottom 100%
        background-size cover
        background-repeat no-repeat
  .ig-cta
    margin-top 2rem
    text-align center
    a
      display inline-block
