@import './colors.styl'
@import './responsive.styl'

.InterestForm
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  z-index 50
  padding 6rem 0
  background-color rgba(0,0,0,0.3)
  +respond-below(lg-screen)
    display flex
    align-items center
    padding 0
    background-color white
  .InterestForm__container
    position relative
    background white
    max-height 100%
    overflow-y scroll
    .InterestForm__inner
      padding 2rem 0
    h2
      margin-top 0
      padding-right 2rem
    .InterestForm__close
      position absolute
      top 2rem
      right 2rem
      margin 0
      padding 0
      font-size 1.5rem
      background none
      box-shadow none
      border none
      cursor pointer
