nav
  position fixed
  top 0
  left 0
  right 0
  z-index 50
  display flex
  justify-content center
  align-items center
  height 3rem
  font-size 0.8rem
  letter-spacing 1px
  background color-kh-accent
  text-align center
  a
    margin-right 1rem
    color color-dark
    text-transform uppercase
    text-decoration none
    &:last-child
      margin-right 0
    &.router-link-exact-active
      color color-light
