.Home
  .kh-intro
    position relative
    padding 6rem 0
    background-color color-kh-accent
    color color-dark
    .kh-intro__main
      columns 2
      +respond-below(lg-screen)
        columns 1
    .language-selector
      position absolute
      z-index 100
      top -3rem
      right 0
      display flex
      align-items center
      height 3rem
      padding 0 2rem
      background-color color-kh-accent
      .language-button
        margin-right 2rem
        &:last-child
          margin-right 0
        &.language-button--active
          border-bottom 1px solid color-dark

  .plans
    h2
      font-size 1.7rem
      margin-bottom 2rem
    .plan-list
      display flex
      margin 0 -2rem
      +respond-below(lg-screen)
        display block
    .plan__book
      margin 2rem 0

  .bubble
    display inline-block
    padding 0.1rem 0.3rem
    font-size 0.8rem
    text-transform uppercase
    background-color color-kh-accent

  .plan
    flex 0 0 calc(50% - 4rem)
    margin 0 2rem
    +respond-below(lg-screen)
      margin-bottom 6rem
      &:last-child
        margin-bottom 0
      .priceset.priceset--dummy
        display none
    .plan__image
      height 22rem
    h3
      margin 2rem 0
      font-size 1.5rem
      small
        display block
        font-size 1.0rem
        +respond-below(md-screen)
          .bubble
            margin-top 0.5rem
        a
          margin-right 1rem
        .pin
          height 1rem
          margin-left 0.5rem
          vertical-align -2px
    h4
      display inline-block
      margin 0
      margin-bottom 1rem
      border-bottom 1px solid color-dark
      font-size 1rem

    .plan__addon
      margin-bottom 4rem
      &:last-child
        margin-bottom 0

    .plan__prices
      margin 2rem 0
    .plan__features
      margin 2rem 0
      margin-bottom 0
      columns 2
      +respond-below(md-screen)
        columns 1
      ul
        margin 0
        padding-left 1rem
        li
          margin-bottom 0.4rem
    .plan__gallery
      margin 2rem 0

  .plan.plan--flex
    .plan__image
      background-position center center
      background-image url('/img/feldbergstr-39/DSC06122.jpg')
    .plan__subimage-1
      background-image url('/img/feldbergstr-39-pre/IMG_0873.jpg')
    .plan__subimage-2
      background-image url('/img/feldbergstr-39-pre/IMG_0348.jpg')

  .plan.plan--fixed
    .plan__image
      background-image url('/img/plans/KH_20160720_Sommeraktion_011.jpg')
    .plan__subimage-1
      background-image url('/img/feldbergstr-47-pre/feldbergstrasse-47-05.jpg')
    .plan__subimage-2
      background-image url('/img/feldbergstr-47-pre/n-wide2x-16x9-fill.jpg')

  .priceset
    display flex
    margin-bottom 0.5rem
    &:last-child
      margin-bottom 0
    .name, .price
      flex 1
    .price
      text-align right
      .bubble
        font-size 1rem

  .meetingrooms
    h3
      margin-bottom 1.5rem
    .meetingrooms__image
      height 22rem
      background-image url('/img/meeting-rooms/DSCF2916-2.jpg')
      background-position center -300px
    .meetingrooms__desc
      margin-top 2rem
      padding-left 40%
      +respond-below(md-screen)
        padding-left 0

  .storefront
    .storefront__group
      display flex
      align-items flex-end
      margin 0 -2rem
      +respond-below(md-screen)
        display block
      .storefront__imagewrapper,
      .storefront__desc
        flex 0 0 calc(50% - 4rem)
        margin 0 2rem
    .storefront__imagewrapper
      padding-right 4rem
      +respond-below(md-screen)
        padding-right 0
        padding-bottom 1.5rem
    .storefront__image
      height 30rem
      background-image url('/img/meeting-rooms/DSC06118.jpg')
    .storefront__desc
      margin-top 2rem
      max-width 40rem

  .kh-about
    .kh-about__blurb
      padding 2rem
      background-color color-silver
      .kh-about__desc
        display flex
        flex-direction row-reverse
        +respond-below(md-screen)
          display block
        .kh-about__logo
          flex 0 1
          padding-left 2rem
          +respond-below(md-screen)
            padding-left 0
            padding-bottom 2rem
          a
            border none
          img
            height 5rem
      .kh-about__cta
        text-align left
      .btn
        margin-top 1rem
    .IgFeed
      margin-top 2rem
